@charset "utf-8";


.Slider{
	font-size:12px;overflow:hidden;border:#99BBE8 0px solid;margin:5px;
	padding:2px;-moz-border-radius:4px;-webkit-border-radius:4px;
}

.Slider .bar{overflow:hidden; position:relative; float:left;}

.Slider .bar .cursor_h{width:14px;height:14px;overflow:hidden; position:absolute;cursor:pointer;border-width:0px;background:url(img/slider_cursor.gif) no-repeat 0px 0px;}
.Slider .bar .cursor_h:hover{background:url(img/slider_cursor.gif) no-repeat 0px -14px;}
.Slider .bar .cursor_h_active{width:14px;height:14px;overflow:hidden; position:absolute;cursor:pointer;border-width:0px;background:url(img/slider_cursor.gif) no-repeat 0px -28px;}
.Slider .bar .cursor_v{width:14px;height:14px;overflow:hidden; position:absolute;cursor:pointer;border-width:0px;background:url(img/slider_cursor.gif) no-repeat -14px 0px;}
.Slider .bar .cursor_v:hover{background:url(img/slider_cursor.gif) no-repeat -14px -14px;}
.Slider .bar .cursor_v_active{width:14px;height:14px;overflow:hidden; position:absolute;cursor:pointer;border-width:0px;background:url(img/slider_cursor.gif) no-repeat -14px -28px;}
.Slider .bar .blankBar_h{
	height:6px;background:url(img/slider_bg1.gif) repeat-x 0px -6px; border:#4362AE 1px solid; overflow:hidden;
	-moz-border-radius:4px;-webkit-border-radius:4px;margin-top:3px;margin-bottom:3px;position:relative;
}
.Slider .bar .blankBar_h .fill{
	height:6px;width:0px;background:url(img/slider_bg1.gif) repeat-x 0px 0px;overflow:hidden;-moz-border-radius:2px;-webkit-border-radius:2px;position:absolute;
}
.Slider .bar .blankBar_v{
	width:6px;background:url(img/slider_bg2.gif) repeat-y -6px 0px; border:#4362AE 1px solid; overflow:hidden;
	-moz-border-radius:4px;-webkit-border-radius:4px;margin-left:3px;margin-right:3px;position:relative;
}
.Slider .bar .blankBar_v .fill{
	width:6px;height:0px;background:url(img/slider_bg2.gif) repeat-y 0px 0px;overflow:hidden;-moz-border-radius:2px;-webkit-border-radius:2px;position:absolute;
}

.Slider .cal_h {overflow:hidden;height:4px; padding:0px 6px 0px 6px; float:left;}
.Slider .cal_h b{display:block inline; width:1px; height:4px;float:left;overflow:hidden; background-color:#4362AE}
.Slider .cal_v {overflow:hidden;width:4px; padding:6px 0px 6px 0px; float:left;}
.Slider .cal_v b{display:block inline; height:1px; width:4px;float:left;overflow:hidden; background-color:#4362AE}

.Slider .tip{
	border:#8EAACE 1px solid; background-color:#E9F2FF;-moz-border-radius:2px;-webkit-border-radius:2px;
	padding:2px 3px 2px 3px; height:12px; font-size:12px;color:#666666;display:none;float:inherit;position:absolute;}
